    <div map-lazy-load="https://maps.google.com/maps/api/js" class="ngMapContainer">
      <ng-map center="41,-87" zoom="4" default-style="false" class="ngMap"></ng-map>
    </div>
<!-- 
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" >
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p>-->

